h1 {
    text-align: center;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3,h4 {
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#reactEntry {
    text-align: center;
}

#matchup {
    text-align: center;
}

#results {
    text-align: center;
}

#result_list{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
}

#clear_results{
    text-align: center;
}

#roster{
    text-align: left;
    position: absolute;
    top: 90px;
    width: fit-content;

}

#roster_header{
    text-align: left;
}

/* body {
    background-color: black;
} */