<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Wrestling</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
    </head>
    <body>
        Created by: Michael Roberge
        <form id="new_game_form" action="/new_game/" method="post" onclick="return confirm('Are you sure you want to start over? All progress will be lost.') ">
            <button id="new_game">New Game</button>
        </form>
        <h1>Welcome to Fantasy Wrestling!</h1>
        <div id="reactEntry">
            Loading...
        </div>
        <!-- Load JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        <div id="matchup">
            <h3 id="title">Please Select a Match Type</h3>
            <form id="matchform" action="/singles/" method="post">
                <select name="wrestler1" id="wrestler1" oninvalid="this.setCustomValidity('Please select a match type')" required>

                </select>
                <h4>vs</h4>
                <select name="wrestler2" id="wrestler2" required>

                </select>
                <br>
                <br>
                <br>
                <input type="submit" name="Submit">
            </form>
        </div>
        <div id="results">
            <h3 id="result_header">Results:</h3>
            <div id="clear_results">
                <button id="clear_results_button">Clear Results</button>
            </div>
            <ul id="result_list">
                {% for result in results %}
                    {% if result.isSingles == True %}
                        <li>
                            Singles Match: {{ result.winner }} def. {{ result.loser }}
                        </li>
                    {% endif %}
                    {% if result.isWorld == True %}
                        {% if result.newWorldChamp == True %}
                            <li>
                                World Title Match: {{ result.winner }} def. {{ result.loser }} - New World Champion!
                            </li>
                        {% else %}
                            <li>
                                World Title Match: {{ result.winner }} (c) def. {{ result.loser }}
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if result.isTV == True %}
                        {% if result.newTVChamp == True %}
                            <li>
                                TV Title Match: {{ result.winner }} def. {{ result.loser }} - New TV Champion!
                            </li>
                        {% else %}
                            <li>
                                TV Title Match: {{ result.winner }} (c) def. {{ result.loser }}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="roster">
            <h3 id="roster_header">Roster:</h3>
            <form id='new_wrestler_form' action="/add_wrestler/" method="post">
                <input id="new_wrestler" type="text" name="new_wrestler" autocomplete="off">
                <input type="submit" value="Add Wrestler">
            </form>
            <ul id="roster_list">
                {% if world_champ == None %}
                    <li><b>World Champion:</b> Vacant</li>
                {% else %}
                    <li><b>World Champion:</b> {{ world_champ.name }}  {{ world_champ.wins }}-{{ world_champ.losses }}  <br>
                        {{world_champ.numWorldTitles}}x World Champion <br>  {{world_champ.numTVTitles}}x TV Champion</li>
                {% endif %}
                <br>
                {% if tv_champ == None %}
                    <li><b>TV Champion:</b> Vacant</li>
                {% else %}
                    <li><b>TV Champion:</b> {{ tv_champ.name }}   {{ tv_champ.wins }}-{{ tv_champ.losses }}  <br>
                        {{tv_champ.numWorldTitles}}x World Champion <br>  {{tv_champ.numTVTitles}}x TV Champion</li>
                {% endif %}

                    _____________________________________
                <br>
                <br>
                
                {% for wrestler in roster %}
                    <li name="{{ wrestler.name }}"><strong>{{ wrestler.name }}</strong>   {{ wrestler.wins }}-{{ wrestler.losses }}  
                    <br>
                    {{wrestler.numWorldTitles}}x World Champion <br>  {{wrestler.numTVTitles}}x TV Champion
                    <form id="delete_wrestler_form" action="/delete_wrestler/" method="post" onclick="return confirm('Are you sure you want remove {{wrestler.name}} from the roster?') ">
                        <button id="delete_wrestler_button" name="delete_wrestler_button" value="{{ wrestler.name }}">Delete</button>
                    </form>
                    </li>
                    
                    <br>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>