<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fantasy Wrestling</title>
    </head>
    <body>
        <h1>Welcome to Fantasy Wrestling!</h1>
        <div id="reactEntry">
            Loading...
        </div>
        <!-- Load JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        <div id="matchup">
            <h3 id="title">Please Select a Match Type</h3>
            <form id="matchform" action="/singles/">
                <select name="wrestler1" id="wrestler1">

                </select>
                <h4>vs</h4>
                <select name="wrestler2" id="wrestler2">

                </select>
                <br>
                <br>
                <br>
                <input type="submit" name="Submit">
            </form>
        </div>
    </body>
</html>